<!DOCTYPE HTML>
<html lang="chi" dir="ltr">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

<div class="index-content">

	{{ range .Data.Pages }}
	   <a href="{{ .RelPermalink }}"><p>{{ .Title }}</p><span>{{.Params.author}}</span></a>
	{{ end }}

</div>


<script type="text/javascript">
    function a(){
        this.classList.toggle('darken');
    }
    document.querySelector('#darken').addEventListener('click', a )
</script>
</body>
</html>