<!DOCTYPE HTML>
<html lang="chi" dir="ltr">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="../../../css/style.css">
</head>
<body>


<nav>
  <a href="../../">books</a>
  <a id="darken">darken</a>
</nav>
  
{{ .Content }}

<script type="text/javascript" src="../../../js/cash.js"></script>
<script type="text/javascript">
  $("#darken").on('click', function() {
    if($("body").hasClass("dark")) {
      $("body").removeClass("dark");
    } else {
      $("body").addClass("dark");
    }
  });
</script>
</body>
</html>